<div class="container">
    <h1>View Customer</h1>
  
    <a href="#" routerLink="/customer/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ customer.id }}</p>
    </div>
   
    <div>
        <strong>Name:</strong>
        <p>{{ customer.name }}</p>
    </div>
   
    <div>
        <strong>Secret Name:</strong>
        <p>{{ customer.secret_name }}</p>
    </div>

    <div>
        <strong>Age:</strong>
        <p>{{ customer.age }}</p>
    </div>
   
</div>